.App {
    justify-content: center
}

.Board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 1em;
}

.Row {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    /* width: auto; */
    /* max-width: 5em; */
}

.Box {
    width: 4em;
    height: 4em;
    border: 3px dashed grey;
    align-content: center;
    text-align: center;
}