/* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #e53935;
    background: linear-gradient(to left, #e53935, #e35d5b);
} */

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 20px;
  padding: 0;
  font-family: 'Rubik One', sans-serif;
  background: #f4f4f4;
}

.clear {
  clear: both;
  content: "";
}

.game {
  margin: 0 auto;
  padding: 20px;
}

.game-info {
  margin-bottom: 20px;
  background: #d4469f;
  padding: 7px;
  text-align: center;
  color: #fff;
  min-height: 100px;
  border-radius: 7px;
  width: 100%;
  background: linear-gradient(to right, #d4469f, #c246d4);
}

.info {
  display: inline-block;
  padding: 1rem;
}

.board {
  margin: 0 auto;
  padding: 20px;
}

.cell {
  background: #7b7b7b;
  border: 1px solid #fff;
  float: left;
  line-height: 45px;
  height: 45px;
  text-align: center;
  width: 45px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}

.cell:focus {
  outline: none;
}

.hidden {
  background: #2e2829;
}

.is-flag,
.is-mine {
  color: #fc543c;
}

.is-fail {
  background: linear-gradient(147deg, #d4469f, #fc543c);
  color: black;
}
.is-pass {
  background: linear-gradient(to right, #04DB81, #04cadb);
}

input {
  margin: 1em;
  background: rgba(186, 230, 233, 0.2);
  width: 30px;
  border: 0;
}
/* a7ddcf */